<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/estilo.css">
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="stylesheet" href="../css/navbar.css">
  <title>Forma de Pagamento</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="../img/logo.png" alt="" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="novoProduto.html">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="novoPedido.html">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.jsp">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastrar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="cadastroCliente.html">Cliente</a></li>
            <li><a class="dropdown-item" href="cadastro.html">Funcionário</a></li>
            <li><a class="dropdown-item" href="novoProduto.html">Produto</a></li>
            <li><a class="dropdown-item" href="motoboy.html">Motoboy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="containerr">

  <div class="nav">
    <p class="elemento">Novo Pedido</p>
    <p class="elemento">Endereço</p>
    <p class="elemento-sel">Forma de Pagamento</p>
  </div>


  <div class="formulario">
    <h2 class="titulo-form">FORMA DE PAGAMENTO</h2>

    <form action="/create-car" method="post">
    <select class="form-select" aria-label="Default select example">
      <option selected value="credito">Cartão de Crédito</option>
      <option value="debito">Cartão de Débito</option>
      <option value="pix">PIX</option>
      <option value="dinheiro">Dinheiro</option>
    </select>

  </div>

  </form>

  <button type="submit" class="botao-form" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Finalizar
  </button>

  <a class="botao-voltar" href="endereco.html">Voltar</a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deseja finalizar o pedido?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary">
            <a class="link" style="color: #fff;" href="novoPedido.html">Sim</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>