.botao-form{
    background-color: #FF7417;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    border: #FF7417 solid 1px;
    width: 15%;
    text-align: center;
    margin-bottom: 10px;
}

.botao-form:hover{
    background-color: #fff;
    color: #FF7417;
    transition: 0.1s ease-in-out;
}

.link{
 text-decoration: none;
 color: gray;
}

.containerr{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.botao-voltar{
    background-color: #585653;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    border: #FF7417 solid 1px;
    width: 15%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.botao-voltar:hover{
    background-color: #fff;
    color: #585653;
    border: #585653 solid 1px;
    transition: 0.1s ease-in-out;
}

.form-order{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.form-order-button{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form-order-button button{
     padding: 10px;
     margin: 15px;
     background: white;
     border: none;
}

.address{
   display: none;
}

.payment{
   display: none;
}


.titulo-form{
    margin-bottom: 40px;
    text-align: center;
}

.formulario{
    width: 40% !important;
    margin-top: 50px;
}

.link{
    text-decoration: none;
    color: #fff;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.elemento{
    padding: 10px;
    margin: 15px;
    background: white;
    border: none;
}

.elemento-sel{
    padding: 10px !important;
    margin: 15px !important;
    border: #FF7417 solid 1px !important;
    color: #FF7417 !important;
    border-radius: 5px !important;
    background: white !important;
}

@media screen and (max-width: 700px)  {

    .botao-form {
        width: 25%;
    }

    .botao-voltar {
        width: 25%;
    }

}