.rodape{
    background-color: #F05802;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 3%;
}

.rodapeSB{
    background-color: #1E90ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
     height: 30%;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 100%;
}

.img-rodape{
    width: 50px;
    height: 50px;
	outline: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
}

.img-rodape-whats{
    width: 50px;
    height: 50px;
	outline: 1px solid black;
	border-radius: 50%;
	padding: 7.5px;
	cursor: pointer;
}

.img-rodape-face{
    width: 50px;
    height: 50px;
	outline: 1px solid black;
	border-radius: 50%;
	padding: 5.5px;
	cursor: pointer;
}

.img-rodape-ifood{
    width: 50px;
    height: 50px;
	outline: 1px solid black;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
}

.img-rodape-seta:hover{
	outline-color: #FF7417;
	transition: 0.2s ease-in-out;
	outline-offset: 3px;
}

.img-rodape-seta{
    width: 35px;
    height: 35px;
	outline: 1px solid black;
	border-radius: 50%;
	padding: 7px;
}

.rodape-titulo{
    font-size: 22px;
    color: #000;
}

.box:hover {
    transform: scale(1.15);
}

@media (max-width: 900px){

.rodape{
	display: inline-block;
    }
}