.botao-form{
    background-color: #FF7417;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    border: #FF7417 solid 1px;
    width: 15%;
    text-align: center;
    text-decoration: none;
}

.link{
 text-decoration: none;
 color: gray;
}

.botao-form:hover{
    background-color: #fff;
    color: #FF7417;
    transition: 0.1s ease-in-out;
}


.containerr{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    height: 91vh;
}

.formulario{
    width: 60% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.titulo-form{
    margin-bottom: 40px;
}

.row{
    width: 70%;
}

.img{
    width: 750px;
}

@media screen and (max-width: 1200px)  {

    .img{
        width: 600px;
    }

}

@media screen and (max-width: 1000px)  {

    .img{
        width: 500px;
    }

}

@media screen and (max-width: 900px)  {

    .botao-form{
        width: 25%;
    }

     .img{
        display: none;
    }

    .formulario{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

}
